/*reset*/
a {
	text-decoration: none;
    color: #6297BC;
}
ul {
	list-style-type: none;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
/*init*/
section {
	background: #BDCAD1;
    margin: auto;
    padding: 10px;
	overflow:hidden;
    word-wrap: break-word;
    color: #6297BC;
}
.categories {
	width: 15%;
    background-color: white;
    float: left;
    border-radius: 10px;
}
.category a{
    color: #A7BBD5;
}
.category a:hover{
    text-decoration: underline;
}
.category.selected a {
    color: #9EC630;
    text-decoration: underline;
}
.order{
	margin-left: 10px;
	padding: 10px;
}
.order span{
	padding: 10px;
}
.order a.selected{
	text-decoration: none;
    color: #9EC630;
}
.order a.notselected{
	text-decoration: underline;
}
.highlighted {
	background-color: darkcyan;
    color: white;
}
.items {
	width: 85%;
    background: #EFF5FF;
    float: left;
    border-radius: 10px;
}
.items .item-header span{
    background: #6297BC;
    color: white;
}
.items .item:first-child {
	height: 20px;
}
.items .item {
	height: 80px;
	border: 1px solid;
	overflow: hidden;
}
.items .titulo{
	float: left;
	width: 30%;

}
.items .texto {
	float: right;
	width: 70%;
}

.pages {
	white-space: nowrap;
}

.pages li{
	display: inline;
}

.pages .selected a{
	text-decoration: none;
}

.pages .notselected a{
	text-decoration: underline;
}
